<a href="https://colab.research.google.com/github/MirianGeronimo/Python-Ctic/blob/main/modulo4/Estructura_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

<b> Ejercicio 1</b>

use un bucle **for** para imprimir los números del 1 al 20, inclusive.

In [31]:
for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

---

<b> Ejercicio 2</b>

Haga una lista de los números del uno al millón y luego use un ciclo for para imprimir los números. (Si la salida tarda demasiado, deténgala presionando CTRL-C o cerrando la ventana de salida).

In [32]:
squares = [value for value in range(1, 11)]
for j in range(10):
  print(squares[j])

1
2
3
4
5
6
7
8
9
10

---

<b> Ejercicio 3</b>

Haga una lista de los números del uno al millón y luego use min() y max() para asegurarse de que su lista realmente comience en uno y termine en un millón. Además, use la función sum() para ver qué tan rápido Python puede agregar un millón de números.

In [33]:
lista = [value for value in range(1, 1000001)]

In [34]:
min(lista)

1

In [35]:
max(lista)

1000000

In [36]:
sum(lista)

500000500000

---

<b> Ejercicio 4</b>

Use el tercer argumento de la función range() para hacer una lista de los números impares del 1 al 20. Use un bucle for para imprimir cada número.

In [37]:
squares = [value for value in range(1, 21,2)]
for j in squares:
  print(j)

1
3
5
7
9
11
13
15
17
19

---

<b> Ejercicio 5</b>

Haga una lista de los múltiplos de 3 de 3 a 30. Use un ciclo for para imprimir los números en su lista.

In [38]:
squares = [value for value in range(3, 31,3)]
for j in squares:
  print(j)

3
6
9
12
15
18
21
24
27
30

---

<b> Ejercicio 6</b>

Haga una lista de los primeros 10 cubos (es decir, el cubo de cada número entero del 1 al 10) y use un ciclo for para imprimir el valor de cada cubo.

In [39]:
squares = [value**3 for value in range(1, 11)]
for j in squares:
  print(j)

1
8
27
64
125
216
343
512
729
1000

---

<b> Ejercicio 7</b>

Use una lista de comprensión para generar una lista de los primeros 10 cubos.

---

In [40]:
squares = [value**3 for value in range(1, 11)]

---

<b> Ejercicio 1</b>

Utilizando alguna lista definida anteriormente:

*   Imprima el mensaje **Los tres primeros elementos de la lista son:**. Luego use un slice para imprimir los primeros tres elementos de la lista de ese programa.

*   Imprima el mensaje **Tres elementos de la mitad de la lista son:**. Use un slice para imprimir tres elementos del medio de la lista.

*   Imprima el mensaje **Los últimos tres elementos de la lista son:**. Utilice un slice para imprimir los últimos tres elementos de la lista.

In [48]:
my_foods = ['pizza', 'falafel', 'carrot cake']
print('Los tres primeros elementos de la lista son:')
print(my_foods[0:3])

Los tres primeros elementos de la lista son:
['pizza', 'falafel', 'carrot cake']

In [49]:
print('Tres elementos de la mitad de la lista son:')
print(my_foods[1:3])

Tres elementos de la mitad de la lista son:
['falafel', 'carrot cake']

In [50]:
print('Los últimos tres elementos de la lista son:')
print(my_foods[-3:])

Los últimos tres elementos de la lista son:
['pizza', 'falafel', 'carrot cake']

---

<b> Ejercicio 2</b>

Haga una copia de la lista de pizzas y llámela friend_pizzas. Luego, haz lo siguiente:

* Agregue una nueva pizza a la lista original.
* Agrega una pizza diferente a la lista friend_pizzas.
* Demuestra que tienes dos listas separadas. Imprima el mensaje Mis pizzas favoritas son: y luego use un bucle for para imprimir la primera lista. Imprima el mensaje Las pizzas favoritas de mi amigo son: y luego use un bucle for para imprimir la segunda lista. Asegúrese de que cada pizza nueva se almacene en la lista adecuada.

In [51]:
pizzas = ['hawaiana', 'Clasica', 'cuatro-estaciones', 'extra_queso']
friend_pizzas = pizzas[:]
pizzas.append('extra_piña')
friend_pizzas.append('sin_piña')
print('Mis pizzas favoritas son:')
for i in pizzas:
  print(i)
print('Las pizzas favoritas de mi amigo son:')
for j in friend_pizzas:
  print(j)

Mis pizzas favoritas son:
hawaiana
Clasica
cuatro-estaciones
extra_queso
extra_piña
Las pizzas favoritas de mi amigo son:
hawaiana
Clasica
cuatro-estaciones
extra_queso
sin_piña

---

<b> Ejercicio 1</b>

Un restaurante estilo buffet ofrece solo cinco alimentos básicos. Piense en cinco alimentos simples y guárdelos en una tupla.

* Use un bucle for para imprimir cada comida que ofrece el restaurante.
Intente modificar uno de los elementos y asegúrese de que Python rechace el cambio.
* El restaurante cambia su menú, reemplazando dos de los artículos con comidas diferentes. Agregue una línea que reescriba la tupla y luego use un ciclo for para imprimir cada uno de los elementos en el menú revisado.

---

In [52]:
dfined_tupla = ('alimento1', 'alimento2', 'alimento3', 'alimento4','alimento5')
for value in dfined_tupla:
  print(value)
dfined_tupla[0]='alimento_modificado'

alimento1
alimento2
alimento3
alimento4
alimento5

TypeError: ignored

In [53]:
dfined_tupla2 = ('alimento_modificado1', 'alimento_modificado2', 'alimento3', 'alimento4', 'alimeto5')
for value in dfined_tupla2:
  print(value)

alimento_modificado1
alimento_modificado2
alimento3
alimento4
alimeto5

---

<b> Ejercicio 1</b>

Usa un diccionario para almacenar información sobre una persona que conoces. Almacene su nombre, apellido, edad y la ciudad en la que vive. Debe tener claves como nombre, apellido, edad y ciudad. Imprima cada parte de información almacenada en su diccionario.

In [54]:
alien = {
    'nombre': 'andrea',
    'apellido': 'aparicio',
    'edad': 25,
    'ciudad': 'Lima',
    }

print(f"Nombre: {alien['nombre']}.")
print(f"Apellido: {alien['apellido']}.")
print(f"Edad: {alien['edad']}.")
print(f"Ciudad: {alien['ciudad']}.")

Nombre: andrea.
Apellido: aparicio.
Edad: 25.
Ciudad: Lima.

---

<b> Ejercicio 2</b>

Use un diccionario para almacenar los números favoritos de las personas. Piensa en cinco nombres y utilízalos como llaves en tu diccionario. Piense en un número favorito para cada persona y guárdelo como un valor en su diccionario. Escriba el nombre de cada persona y su número favorito.

In [55]:
numbers = {
    'Alfredo': 1,
    'Mariana': 2,
    'Julio': 3,
    'Nancy': 4,
    'Jovana': 5,
    }
for i in numbers: 
  print("El numero favorito de "+i+" es :") 
  print(numbers[i])

El numero favorito de Alfredo es :
1
El numero favorito de Mariana es :
2
El numero favorito de Julio es :
3
El numero favorito de Nancy es :
4
El numero favorito de Jovana es :
5

---

<b> Ejercicio 3</b>

Piense en cinco palabras de programación que haya aprendido. Utilice estas palabras como llaves en su glosario y almacene sus significados como valores.

Imprima cada palabra y su significado como una salida con un formato ordenado. Puede imprimir la palabra seguida de dos puntos y luego su significado, o imprimir la palabra en una línea y luego imprimir su significado con sangría en una segunda línea. Utilice el carácter de nueva línea (\n) para insertar una línea en blanco entre cada par de palabra y significado en su salida.

---

In [56]:
palabras = {
    'def': 'definir una funcion',
    'print': 'imprimir',
    'input': 'entrada',
    'return': 'valor de retorno',
    'int': 'entero',
    }
for i in palabras: 
  print("\nEl significado de "+i+" es :") 
  print( palabras[i])

El significado de def es :
definir una funcion

El significado de print es :
imprimir

El significado de input es :
entrada

El significado de return es :
valor de retorno

El significado de int es :
entero

---

<b> Ejercicio 1</b>

Haga un diccionario que contenga tres ríos principales y el país por el que pasa cada río. Un par clave-valor podría ser 'nilo': 'egipto'.

* Use un bucle para imprimir una oración sobre cada río, como El Nilo atraviesa Egipto.
* Utilice un bucle para imprimir el nombre de cada río incluido en el diccionario.
* Use un bucle para imprimir el nombre de cada país incluido en el diccionario.

In [57]:
rios = {
    'rio Rin': 'Alemania',
    'rio Sena': 'Francia',
    'rio Tamesis': 'Inglaterra',
    }
for rio, pais in rios.items():
  print(f" El {rio} atraviesa {pais}.")

 El rio Rin atraviesa Alemania.
 El rio Sena atraviesa Francia.
 El rio Tamesis atraviesa Inglaterra.

In [58]:
for clave, valor in rios.items(): 
  print(clave)

rio Rin
rio Sena
rio Tamesis

In [59]:
for i in rios: 
  print(rios[i])

Alemania
Francia
Inglaterra

---

<b> Ejercicio 2</b>

Haz una lista de las personas que deberían participar en la encuesta de idiomas favoritos. Incluye algunos nombres que ya estén en el diccionario y otros que no.
Recorra la lista de personas que deberían realizar la encuesta. Si ya han realizado la encuesta, imprima un mensaje agradeciéndoles por responder. Si aún no han realizado la encuesta, imprima un mensaje invitándoles a realizar la encuesta.

---

In [60]:
#personas que deberían llenar la encuesta
lista = ['maria', 'pedro', 'ana', 'miller', 'alfredo', 'susana']
lista2=[]
#personas que llenaron la encuesta
dic = {
    'maria': 'ingles',
    'ana': 'frances',
    'miller': 'aleman',
    }

for clave, valor in dic.items():
    lista2.append(clave)
for nombre in lista:
  if nombre in lista2:
    print(f"Gracias por llenar la encuesta {nombre.title()}.")
  else:
    print(f"{nombre.title()}, le invitamos a llenar la encuesta.")

Gracias por llenar la encuesta Maria.
Pedro, le invitamos a llenar la encuesta.
Gracias por llenar la encuesta Ana.
Gracias por llenar la encuesta Miller.
Alfredo, le invitamos a llenar la encuesta.
Susana, le invitamos a llenar la encuesta.

---

<b> Ejercicio 1</b>

Cree tres nuevos diccionarios que representen a diferentes personas y almacene los tres diccionarios en una lista llamada personas. Recorra su lista de personas. Mientras recorre la lista, imprima todo lo que sabe sobre cada persona.

In [61]:
persona1 = {
       'nombre': 'jenny',
     'edad': 25,
       }
persona2 = {
    'nombre' : 'maria',
    'edad': 24,
}
persona3 = {
    'nombre' : 'mercedes',
    'edad': 23,
}
personas = [persona1, persona2, persona3]
for persona in personas: 
  print(f"Ella es {persona['nombre'].title()} y tiene {persona['edad']} años.")

Ella es Jenny y tiene 25 años.
Ella es Maria y tiene 24 años.
Ella es Mercedes y tiene 23 años.

---

<b> Ejercicio 2</b>

Haga varios diccionarios, donde cada diccionario represente una mascota diferente. En cada diccionario, incluya el tipo de animal y el nombre del dueño. Guarde estos diccionarios en una lista llamada mascotas. A continuación, recorra su lista y, mientras lo hace, imprima todo lo que sepa sobre cada mascota.

In [62]:
mascota1 = {
       'tipo': 'perro',
     'dueño': 'Maria',
     'edad' : 5
       }
mascota2 = {
    'tipo' : 'gato',
    'dueño': 'Franss',
    'edad' : 10
}
mascota3 = {
    'tipo' : 'conejo',
    'dueño': 'Miller',
    'edad' : 14
}
mascotas = [mascota1, mascota2, mascota3]
for mascota in mascotas: 
  print(f" El {mascota['tipo'].title()} tiene {mascota['edad']} años y su dueño es {mascota['dueño']}.")

 El Perro tiene 5 años y su dueño es Maria.
 El Gato tiene 10 años y su dueño es Franss.
 El Conejo tiene 14 años y su dueño es Miller.

---

<b> Ejercicio 3</b>

Haga un diccionario llamado lugares_favoritos. Piense en tres nombres para usar como llaves en el diccionario y almacene de uno a tres lugares favoritos para cada persona. Recorre el diccionario e imprime el nombre de cada persona y sus lugares favoritos.

In [63]:
lugares_favoritos = {
    'Miller':  'playa' ,
    'Franss':  'parque',
    'Daiver':  'cine'
}

for llave, valor in lugares_favoritos.items(): 
  print(f" El lugar favorito de {llave.title()} es {valor}.")

 El lugar favorito de Miller es playa.
 El lugar favorito de Franss es parque.
 El lugar favorito de Daiver es cine.

---

<b> Ejercicio 4</b>

Haz un diccionario llamado ciudades. Usa los nombres de tres ciudades como llaves en tu diccionario. Cree un diccionario de información sobre cada ciudad e incluya el país en el que se encuentra la ciudad, su población aproximada y un dato sobre esa ciudad. Las claves para el diccionario de cada ciudad deben ser algo como país, población y hecho. Imprime el nombre de cada ciudad y toda la información que tengas almacenada sobre ella.

In [64]:
ciudades = {
    'Tarapoto':  ['Peru', 'poblacion:180,073', 'Tarapoto tiene un clima tropical.'] ,
    'Ica':  ['Peru', 'poblacion:282,407', 'Ica está situado en el sur.'],
    'Chiclayo':  ['Peru', 'poblacion:552,508 ', 'Chiclayo tiene playas my bonitas.']
}
for city, information in ciudades.items():
  print(f"\nLa información de la ciudad de {city} es:")

  for info in information:
    print(f"\t{info}")

La información de la ciudad de Tarapoto es:
	Peru
	poblacion:180,073
	Tarapoto tiene un clima tropical.

La información de la ciudad de Ica es:
	Peru
	poblacion:282,407
	Ica está situado en el sur.

La información de la ciudad de Chiclayo es:
	Peru
	poblacion:552,508
	Chiclayo tiene playas my bonitas.

---

<b> Ejercicio 5</b>

Ahora estamos trabajando con ejemplos que son lo suficientemente complejos como para que puedan extenderse de varias maneras. Utilice uno de los programas de este laboratorio y amplíelo agregando nuevas claves y valores, cambiando el contexto del programa o mejorando el formato de la salida.

---

In [66]:
cursos = []

for curso_number in range(6):
    new_curso = {'curso': 'Calculo diferencial', 'dia': 'miercoles', 'director': 'Juan Perez', 'Alumnos':50, 'turno': 'Mañana'}
    cursos.append(new_curso)

for curso in cursos[:3]:
    if curso['curso'] == 'Calculo diferencial':
        curso['curso'] = 'Calculo integral'
        curso['dia'] = 'martes'
        curso['turno'] = 'noche'
        curso['Alumnos'] = 48
for curso in cursos[:]:
    print(curso)


print(f"T: Numero total de cursos: {len(cursos)}")

{'curso': 'Calculo integral', 'dia': 'martes', 'director': 'Juan Perez', 'Alumnos': 48, 'turno': 'noche'}
{'curso': 'Calculo integral', 'dia': 'martes', 'director': 'Juan Perez', 'Alumnos': 48, 'turno': 'noche'}
{'curso': 'Calculo integral', 'dia': 'martes', 'director': 'Juan Perez', 'Alumnos': 48, 'turno': 'noche'}
{'curso': 'Calculo diferencial', 'dia': 'miercoles', 'director': 'Juan Perez', 'Alumnos': 50, 'turno': 'Mañana'}
{'curso': 'Calculo diferencial', 'dia': 'miercoles', 'director': 'Juan Perez', 'Alumnos': 50, 'turno': 'Mañana'}
{'curso': 'Calculo diferencial', 'dia': 'miercoles', 'director': 'Juan Perez', 'Alumnos': 50, 'turno': 'Mañana'}
T: Numero total de cursos: 6

---

# Gracias por completar este laboratorio!

---